{% load static %}

<section id="hero">
    <div class="hero-container">
        <div data-aos="fade-in">
            <div class="hero-logo">
                <img class="" src="{% static 'hotel/img/logo.svg' %}" alt="UncleVanya">
            </div>

            <h1>Вас приветствует Отель "Дядя Ваня"</h1>
            <h2>Мы создаем <span class="typed" data-typed-items="комфорт, уют, релакс"></span></h2>
            <div class="actions">
                <a href="#about" class="btn-get-started">О нас</a>
                <a href="#services" class="btn-services">Наши предложения</a>
            </div>
        </div>
    </div>
</section>