<section id="services">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-12">
          <h3 class="section-title">Наши сервисы</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Мы предоставляем услуги Премиум класса для Вас!</p>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="service-title">Для бизнеса</h4>
          <p class="service-description">Лучший вариант для расположения при деловой командировки</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="service-title">Оплата</h4>
          <p class="service-description">Принимаем как наличный, так и безналичный расчет</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="service-title">Скидки</h4>
          <p class="service-description">Удобная система лояльности к нашим постоянным клиентам</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="service-title">Виды</h4>
          <p class="service-description">Красивый вид на самый центр Дятлово</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="service-title">Температура</h4>
          <p class="service-description">Регулировка температуры в номерах с помощью кондиционера</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="service-title">Бронирование</h4>
          <p class="service-description">Позвоните нам и забронируйте номер в удобное для Вас время</p>
        </div>
      </div>
    </div>
</section>